* {
    box-sizing: border-box;
    font-family: sans-serif;
    transition-duration: 0.25s;
    
    /* outline: solid red 1px; */
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-item {
    width: 20%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.main {
    width: 100%;
    height: calc(100vh - 2rem);
    overflow: auto;
    background-color: #88ffff;
}

.main section {
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-block {
    display: flex;
    flex-direction: column;
}

.filter-block > * {
    margin-top: 5px;
}

.checkbox-label {
    font-size: 0.8em;
}

.individual-table {
    min-width: 70%;
    border-collapse: collapse;
}

.individual-table th, .individual-table td {
    border: solid black 2px;
    padding: 0.25rem;
}

.individual-table th:first-of-type {
    width: 60%;
}

.modal {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.modal.visible {
    z-index: 5;
    opacity: 1;
}

.modal-header {
    margin: 0 0 1rem 0;
}

.modal-container {
    width: 30rem;
    height: 20rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}